{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <h1 class="text-center display-6 py-4 fw-bold"> EMPLEADOS</h1>
            <ul class="list-group">
                {% for employee in employees %}   
                <a class="list-group-item" href="{% url 'employee_detail' employee.id %}">
                    <header class="d-flex justify-content-between">
                        <h2 class="fw-bold">{{ employee.nombre }} {{ employee.apellido_paterno }}</h2>
                    </header>
                    <p>CI: {{ employee.carnet_identidad }}</p>
                    <p>Cargo: {{ employee.get_cargo_display }}</p>
                    <p>Teléfono: {{ employee.numero_celular }}</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
{% endblock %}
