
{% extends 'base.html' %}

{% block content %}
<h1>HOME</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia aperiam blanditiis explicabo rem voluptate, nostrum odit! Consequatur libero, tenetur doloremque quam vitae sint id, voluptatem recusandae, magni ipsa iusto totam! Minima eaque necessitatibus sequi voluptatibus, non laudantium deserunt est at cupiditate facilis. Iusto temporibus tempora nostrum atque maxime minima consequuntur alias vel voluptatem. Quasi, accusamus earum, voluptate laborum ad magnam voluptatum cupiditate quis tenetur, mollitia nihil beatae. Dolores rerum corporis sunt, accusamus neque suscipit voluptas soluta laudantium temporibus nostrum nobis cum sequi dolorum deserunt exercitationem cumque illo doloribus ullam possimus nihil maiores excepturi! Perferendis dolores consequuntur voluptatum voluptatem sunt. Veritatis!
</p>
{% endblock %}