{% extends 'base.html' %} {% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-8 offset-md-3">
      <h1 class="text-center display-6 py-4">PAGOS</h1>
      <ul class="list-group">
        {% for payment_history in payment_histories %}
        <a class="list-group-item">
          <header class="d-flex justify-content-between">
            <h2 class="fw-bold">{{payment_history.modification_date}}</h2>
          </header>
          <p>Estado: {{payment_history.previous_amount}}</p>
          <p>Monto: {{payment_history.current_amount}}</p>
          <p>Razón: {{payment_history.change_reason}}</p>
          <p>Nombre proyecto: {{payment_history.project.name}}</p>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

{% endblock %}
