{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-secondary">{{payment.amount}}</h1>
            {{error}}

            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary mx-2 my-2" type="submit">
                    Actualizar
                </button>
            </form>
            <div class="d-flex">    
                <form action="{% url 'payment_deactivate' payment.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger mx-2" type="submit">
                        Inabilitar
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}