{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-secondary">Propuesta para {{ proposal.public_entity.entity_name }}</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary mx-2 my-2" type="submit">
                    Actualizar
                </button>
            </form>
            <div class="d-flex">    
                <form action="{% url 'proposal_deactivate' proposal.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger mx-2" type="submit">
                        Inhabilitar
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
